.task {
  background: white;
  padding: 8px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #00000015;
  font-size: 0.8rem;
  margin-bottom: 8px;
}

.task:last-child {
  margin-top: 8px;
}

.task:first-child {
  margin-bottom: 0px;
}